<ion-header>
  <ion-toolbar class="background-color-blue">
  </ion-toolbar>
  <ion-toolbar class="background-color-white">
    <ion-title>Recuperar contraseña </ion-title>
  </ion-toolbar>
</ion-header>



<ion-content class='background-duoc'>
  <form>
    <ion-item lines="full">
      <ion-label position="floating">Ingrese Usuario</ion-label>
      <ion-input type="text" required></ion-input>

    </ion-item>

    

      <ion-row>
      <ion-col>
        <ion-button type="submit" routerLink="/valrecuperar"  expand="block" class="background-color-blue">Aceptar</ion-button>
        
        <ion-button type="submit" routerLink="/home" class="background-color-white" expand="block">Volver</ion-button>
      </ion-col>
    </ion-row>

  </form>
</ion-content>

<ion-footer>
  <ion-toolbar class="background-color-blue">
  </ion-toolbar>
 