<ion-header>
  <ion-toolbar class="background-color-blue">
  </ion-toolbar>
  <ion-toolbar class="background-color-white">
    <ion-title>Iniciar sesion </ion-title>
  </ion-toolbar>
</ion-header>



<ion-content class='background-duoc'>
  <form>
    <ion-item lines="full">
      <ion-label position="floating" placeholder-color="background-color-white" >Correo</ion-label>
      <ion-input type="text" required ></ion-input>
    </ion-item>


    <ion-item lines="full">
      <ion-label position="floating">Contraseña</ion-label>
      <ion-input type="password" required ></ion-input>
    </ion-item>
 
      <ion-row>
      <ion-col>
        <ion-button type="button" onclick="MuestraMensajeCarga();"  expand="block" class="background-color-blue">Entrar</ion-button>
        <ion-button routerLink="/recuperar" type="submit"  expand="block" class="background-color-blue">Recuperar contraseña</ion-button>
        <ion-button type="submit" routerLink="/home" class="background-color-white" expand="block">Volver</ion-button>
      </ion-col>
    </ion-row>

  </form>

</ion-content>
<ion-footer>
  <ion-toolbar class="background-color-blue">
  </ion-toolbar>
 